<div class="equipmentContainer">
  <div class="equipmentSlot" (click)="selectSlot('WEAPON')">
    <div class="equipmentType">Weapon</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('HEAD')">
    <div class="equipmentType">Head</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('CHEST')">
    <div class="equipmentType">Chest</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('ARMS')">
    <div class="equipmentType">Arms</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('WAIST')">
    <div class="equipmentType">Waist</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('LEGS')">
    <div class="equipmentType">Legs</div>
  </div>
  <div class="equipmentSlot" (click)="selectSlot('CHARM')">
    <div class="equipmentType">Charm</div>
  </div>
</div>
