<div *ngFor="let armor of armors" class="itemList" [class.itemSelected]="armor===selectedArmor"
  (click)="changeSelected(armor)">
  <div class="mainData">
    <img [src]="setIcon(armor.type)" class="itemIcon">
    <div class="itemData">
        <div>Name: {{armor.name}}</div>
        <div>HunterRank: {{armor.rank}}</div>
        <div class="slotsContainer">Slots: <div *ngFor="let slot of armor.slots" class="itemSlots">
            {{slot.size}}
        </div>
        </div>
    </div>
  </div>
  <div class="skillsData">
    <div *ngFor="let skill of armor.skills">
        {{skill.name}} Lvl {{skill.value}}
    </div>
  </div>
</div>
